! special
*.foreground:   #93a1a1
*.background:   #002b36
*.cursorColor:  #93a1a1

! black
*.color0:       #002b36
*.color8:       #657b83

! red
*.color1:       #dc322f
*.color9:       #dc322f

! green
*.color2:       #859900
*.color10:      #859900

! yellow
*.color3:       #b58900
*.color11:      #b58900

! blue
*.color4:       #268bd2
*.color12:      #268bd2

! magenta
*.color5:       #6c71c4
*.color13:      #6c71c4

! cyan
*.color6:       #2aa198
*.color14:      #2aa198

! white
*.color7:       #93a1a1
*.color15:      #fdf6e3

URxvt.font: xft:PragmataPro for Powerline:size=10,xft:PragmataPro:size=10
URxvt.boldFont: xft:PragmataPro for Powerline:bold:size=10,xft:PragmataPro:bold:size=10
URxvt.italicFont: xft:PragmataPro for Powerline:italic:size=10,xft:PragmataPro:italic:size=10
URxvt.bolditalicFont: xft:PragmataPro for Powerline:bold:italic:size=10, xft:PragmataPro:bold:italic:size=10
URxvt.letterSpace: -1
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgba

! URXVT ENABLE LINK SUPPORT
!------------------------------------------------

URxvt.perl-ext-common: default,matcher,tabbedex,vtwheel
URxvt.url-launcher: /usr/bin/google-chrome-stable
!tabbed
URxvt.matcher.button:   1
URxvt.keysym.M-u: perl:url-select:select_next

!disable the fucking bell
URxvt.insecure: 			false

! URXVT SCROLLBAR AND CURSOR STYLE
!------------------------------------------------

URxvt*saveLines: 			300000
URxvt.scrollBar: 			false
!URxvt*scrollstyle:			plain
URxvt*cursorBlink: 			false
URxvt*cursorUnderline: 		true
URxvt*cursorColor: 			#51c4d4

! URXVT TABS
!------------------------------------------------

URxvt.tabbedex.autohide: 	yes
URxvt.tabbedex.tabbar-fg: 	2
URxvt.tabbedex.tabbar-bg: 	0
URxvt.tabbedex.tab-fg:    	10
URxvt.tabbedex.tab-bg:    	0
URxvt.tabbedex.title: 		yes
URxvt.tabbedex.new-button:  no

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #002b37, #002b37, #003642
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281
rofi.ssh-command:          {terminal} -e "{ssh-client} {host}"

